HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore source code
src/

# ==============================
# RE-INCLUDE required folders
# ==============================

# Allow src/main/java path
!src/main/
!src/main/java/

# Allow controller & service only
!src/main/java/**/controller/
!src/main/java/**/controller/**

!src/main/java/**/service/
!src/main/java/**/service/**

# Ignore Docker file
Dockerfile


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### env folder
.env

